@model ToDoListLibrary.ToDoEntry

@{
    ViewData["Title"] = "Details";
}

<h1>@(Model.Title)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
        @foreach (var item in Model.Fields)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Value)
            </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-default btn-lg" asp-action="Edit" asp-route-id="@Model.Id">
        <span class="bi bi-pencil"></span>
    </a> |
    <a class="btn btn-default btn-lg" asp-action="Details" asp-controller="ToDoLists" asp-route-id="@Model.OwnerId">
        <span class="bi bi-arrow-left"></span>Back to List
    </a>
</div>
