@model IEnumerable<ToDoListLibrary.ToDoEntry>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <label class="form-check-label">Show completed</label>
    @Html.CheckBox("ShowCompleted", new { id = "ShowCompleted" })
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="@(item.Completed == ToDoListLibrary.Status.Completed ? "row-to-hide" : "")" style="@(item.Completed == ToDoListLibrary.Status.Completed ? "display:none" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts
{
    <script>
        $(function () {
            $('#ShowCompleted').change(function () {
                var hiddenRows = document.getElementsByClassName("row-to-hide");
                for (var i = 0; i < hiddenRows.length; i++) {
                    if (document.getElementById('ShowCompleted').checked) {
                        hiddenRows[i].style.display = "";
                    } else {
                        hiddenRows[i].style.display = "none";
                    }
                }
            });
        });
    </script>
}
