@model IEnumerable<ToDoListLibrary.ToDoEntry>

@{
    ViewData["Title"] = "Index";
}

<div class="form-check form-switch">
    <label class="form-check-label" for="ShowCompleted">Show completed</label>
    @Html.CheckBox("ShowCompleted", new { id = "ShowCompleted", @class = "form-check-input" })
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href='@(Url.Action("Details", "ToDoEntries", new { id=item.Id }))'"
                class="@(item.Completed == ToDoListLibrary.Status.Completed ? "row-to-hide" : "")" style="@(item.Completed == ToDoListLibrary.Status.Completed ? "display:none" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a class="btn btn-default btn-lg" asp-controller="ToDoEntries" asp-action="CreateCopy" asp-route-initial="@item.Id">
                    <span class="bi bi-copy"></span>
                </a> |
                <a class="btn btn-default btn-lg" asp-action="Delete" asp-route-id="@item.Id">
                    <span class="bi bi-trash"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts
{
    <script>
        $(function () {
            $('#ShowCompleted').change(function () {
                var hiddenRows = document.getElementsByClassName("row-to-hide");
                for (var i = 0; i < hiddenRows.length; i++) {
                    if (document.getElementById('ShowCompleted').checked) {
                        hiddenRows[i].style.display = "";
                    } else {
                        hiddenRows[i].style.display = "none";
                    }
                }
            });
        });
    </script>
}
