@model ToDoListLibrary.ToDoList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hide)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to Lists</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Due Date
            </th>
            <th>
                Completed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EntryList)
        {
            <tr onclick="location.href='@(Url.Action("Details", "ToDoEntries", new { id=item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    <a class="btn btn-default btn-lg" asp-controller="ToDoEntries" asp-action="Delete" asp-route-id="@item.Id">
                        <span class="bi bi-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-default btn-lg" asp-controller="ToDoEntries" asp-action="Create" asp-route-owner="@(Model.Id)">
        <span class="bi bi-plus-circle"></span>New Item
        </a> |
</div>
