@model IEnumerable<ToDoListLibrary.ToDoList>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <label class="form-check-label">Show hidden lists</label>
    @Html.CheckBox("ShowHidden", new { id = "ShowHidden" })
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hide)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(item.Hide ? "row-to-hide" : "")" style="@(item.Hide ? "display:none" : "")" >
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hide)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts
{
    <script>
        $(function () {
            $('#ShowHidden').change(function () {
                var hiddenRows = document.getElementsByClassName("row-to-hide");
                for (var i = 0; i < hiddenRows.length; i++) {
                    if (document.getElementById('ShowHidden').checked) {
                        hiddenRows[i].style.display = "";
                    } else {
                        hiddenRows[i].style.display = "none";
                    }
                }
            });
        });
    </script>
}
